.main {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.subtitle {
  display: flex;
  margin-top: 20px;
}
.link {
  color: #0969da;
  margin-left: 5px;
}
.link:hover {
  text-decoration: underline;
}

@media (max-width:375px) {
  .subtitle {
    padding: 0 20px;
  }
}
@media (max-width:320px) {
  .main {
    padding: 10px;
  }
  
@media (max-width:320px) {
  .content {
    padding: 10px;
  }
  .subtitle {
    flex-wrap: wrap;
    justify-content: center;
  }
  .link {
    margin: 5px 0 0 0;
  }
}
}
