.repo {
  border-radius: 6px;
  border: 1px solid #d0d7de;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name {
  font-weight: 700;
}
.link {
  color:#0969da;
}
.link:hover {
  text-decoration: underline;
}
.btn_fav {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 30px;
  outline: none;
  background: #F6F8FA;
  border: 1px solid rgba(27, 31, 36, 0.15);
  box-shadow: 0px 1px 0px rgba(27, 31, 35, 0.04);
  border-radius: 6px;
  padding: 0 12px;
  color: #24292E;
  font-weight: 700;
  font-size: 16px;
}
.btn_fav:hover {
  background: #F3F4F6;
}
.btn_fav:focus {
  box-shadow: 0px 0px 0px 3px rgba(3, 102, 214, 0.3);
}
.btn_fav_img {
  margin-right: 5px;
}
.desc {
  margin-top: 10px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.repo_count {
  display: flex;
  align-items: center;
}
.count {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.count:last-child {
  margin-right: 0;
}
.count_img {
  margin-right: 5px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

@media (max-width:1440px) {
  .repo {
    font-size: 14px;
  }
  .btn_fav {
    font-size: 14px;
  }
}

@media (max-width:768px) {
  .btn_fav {
    font-size: 0px;
  }
  .btn_fav_img {
    margin-right: 0px;
  }
}